@font-face {
    font-family: InterB;
    src: url('../fonts/Teko-Bold.ttf');
}

@font-face {
    font-family: InterL;
    src: url('../fonts/Teko-Light.ttf');
}

@font-face {
    font-family: InterM;
    src: url('../fonts/Teko-Medium.ttf');
}

@font-face {
    font-family: InterR;
    src: url('../fonts/Teko-Regular.ttf');
}

@font-face {
    font-family: InterS-B;
    src: url('../fonts/Teko-SemiBold.ttf');
}